@font-face {
  src: url("../fonts/Focus-Medium.ttf");
  font-family: "FocusMedium";
}

@font-face {
  src: url("../fonts/Focus-Regular.ttf");
  font-family: "FocusRegular";
}

@font-face {
  src: url("../fonts/Focus-Italic.ttf");
  font-family: "FocusItalic";
}

@font-face {
  src: url("../fonts/Marck-Script-Regular.ttf");
  font-family: "MarckScriptRegular";
}

@font-face {
  src: url("../fonts/ofont.ru_Lato.ttf");
  font-family: "LatoRegular";
}

@font-face {
  src: url("../fonts/ofont.ru_Yeseva\ One.ttf");
  font-family: "YesevaOne";
}

@media (max-width: 1500px) {
  .menu__left-img {
    position: absolute;
    top: 35%;
    left: 0;
  }

  .menu__right-img {
    position: absolute;
    top: 15%;
    right: 0;
  }

  .reservations__text img {
    display: none;
  }
}

@media (max-width: 1200px) {
  .ingredients__left-column {
    display: none;
  }

  .reservations__images img:nth-child(2) {
    display: none;
  }
}

@media (max-width: 1000px) {
  .logo {
    display: none;
  }
  .header__top {
    justify-content: space-around;
  }

  .reviews__inner {
    padding: 50px 0;
  }
  .reservations__text img {
    display: none;
  }

  .reservations__inner {
    justify-content: space-around;
  }
}
@media (max-width: 900px) {
  .menu__right-img {
    display: none;
  }
}

@media (max-width: 800px) {
  .social {
    display: none;
  }
  .header__content-title {
    font-size: 70px;
    max-width: 650px;
  }
  .footer__items {
    justify-content: space-around;
  }

  .reservations__images {
    display: none;
  }

  .header {
    padding-bottom: 50px;
  }

  .ingredients__right-column {
    padding-top: 70px;
    padding-bottom: 40px;
  }
}

@media (max-width: 700px) {
  .menu__inner {
    flex-flow: column;
    align-items: center;
  }

  .menu__left-img {
    display: none;
  }
}

@media (max-width: 694px) {
  .footer__items > div:nth-child(2) {
    order: 1;
    padding-top: 50px;
  }
}

@media (max-width: 650px) {
  .logo {
    display: block;
  }
  .header__nav ul {
    position: absolute;
    top: 120%;
    left: -80px;

    display: none;
    flex-flow: column nowrap;
    z-index: 1;
  }
  .header__nav ul a {
    text-align: center;
    padding: 15px 10px;
    margin-bottom: 1px;
    background: rgb(90, 90, 90);
  }
  .icon-menu {
    position: relative;
    width: 50px;
    height: 50px;
    display: block;
  }
  .icon-menu:before {
    content: "\e9bd";
    font-family: "icomoon";
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    transform: translate(-50%, -50%);
  }

  .reservations__text {
    margin-bottom: 20px;
  }
}

@media (min-width: 651px) {
  .icon-menu {
    display: none;
  }
  .header__nav ul {
    display: flex !important;
  }
}

@media (max-width: 500px) {
  .header__content-btn {
    flex-flow: column;
    align-items: center;
  }
  .header__content-btn_left {
    margin-bottom: 20px;
  }

  .form__items {
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
  }
}

@media (max-width: 400px) {
  .header__content-title {
    font-size: 40px;
  }

  .images {
    justify-content: space-around;
  }
  .images img:last-child {
    display: none;
  }
}
