@mixin abs-center($top, $left) {
  position: absolute;
  top: $top;
  left: $left;

  transform: translate(-$left, -$top);
}

@mixin icomoon-content($content) {
  content: $content;
  font-family: "icomoon";
}

@mixin flex-between-center() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  color: white;
}
*,
*:after,
*:before {
  position: relative;
  box-sizing: inherit;
}
body {
  margin: 0;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
ul,
h2,
p {
  padding-inline-start: 0;
  margin-block-end: 0;
  margin-block-start: 0;

  li {
    list-style: none;
  }
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
}
h1,
p {
  display: block;
}

.header {
  background: url("/image/header-fon.png") no-repeat center;
  background-size: cover;
  padding-bottom: 140px;
}
.header__top {
  @include flex-between-center();
  height: 120px;
  padding-top: 4px;
  margin-bottom: 40px;
}

.logo {
  margin-top: 10px;
}

.header__nav {
  ul {
    display: flex;
    justify-content: space-between;
  }
}

.nav {
  @include flex-between-center();
  ul {
    a {
      padding: 0 20px;
      font-family: "FocusMedium";
      &:hover {
        color: #fb5231;
      }
    }
  }
}

$width_height-picture: 30px;
.social {
  display: flex;
  justify-content: left;
  a {
    position: relative;

    width: $width_height-picture;
    height: $width_height-picture;

    &:hover:before {
      color: #fb5231 !important;
    }

    &:nth-child(1):before,
    &:nth-child(2):before,
    &:nth-child(3):before {
      @include abs-center(50%, 50%);
      color: #6d7080;
      font-size: 20px;
    }

    $i: 1;
    @each $code in "\f099", "\f167", "\f09a" {
      &:nth-child(#{$i}):before {
        @include icomoon-content($code);
      }
      $i: $i + 1;
    }
  }
}

.header__content-title {
  position: relative;
  max-width: 800px;
  margin: 0 auto 110px auto;

  font-family: MarckScriptRegular;
  font-size: 90px;
  text-align: center;

  &:before {
    content: "";
    position: absolute;
    bottom: -55px;
    left: 50%;

    transform: translateX(-50%);

    width: 250px;
    height: 50px;
    background: url("../image/header-sign-1.png") no-repeat center;
  }
}

.header__content-btn {
  max-width: 490px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header__content-btn_right,
.header__content-btn_left {
  display: block;
  width: 228px;
  height: 57px;

  font-size: 18px;
  font-family: "FocusMedium";
  line-height: 65px;
  text-align: center;

  border: solid white 1px;
  background-color: rgba(255, 255, 255, 0.278);
  opacity: 0.702;
  transition-property: background-color;
  transition-duration: 0.3s;
}

.header__content-btn_left:hover,
.header__content-btn_right:hover {
  background-color: rgba(251, 82, 49, 0.702);
  opacity: 0.8;
  border: none;
  line-height: 67px;
}

.about {
  background: url("../image/about-fon.png") no-repeat center;
  background-size: cover;
}

.about-inner {
  padding: 100px 0;
}

.title {
  position: relative;
  margin: 0 auto;
  padding-bottom: 80px;

  font-family: "MarckScriptRegular";
  font-size: 36px;
  line-height: 24px;
  color: #fb5231;
  text-align: center;

  &:before {
    content: "";

    background: no-repeat url("../image/main-red-sign.png") center;

    width: 250px;
    height: 30px;
    position: absolute;
    bottom: 30px;
    left: 50%;

    transform: translateX(-50%);
  }
}

.text {
  max-width: 550px;
  padding: 0 20px;
  margin: 0 auto;

  font-family: FocusRegular;
  line-height: 24px;
  color: #4c4c4c;
}

.ingredients__inner {
  display: flex;
  justify-content: space-around;
}

.ingredients__left-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ingredients__right-column {
  // max-width: 570px;
  width: 570px;
  background: no-repeat url("../image/ingredients-right-fon-1.png") center;
  background-size: cover;
  padding: 160px 0;
}

.ingredients__title {
  color: white;
}

.ingredients__title {
  &:before {
    background: url("../image/main-white-sign-1.png");
  }
}

.ingredients__text {
  max-width: 450px;
  color: white;
}

.images {
  display: flex;
  justify-content: space-between;
  max-width: 340px;
  margin: 60px auto 0 auto;
}

.menu {
  background: no-repeat url("../image/menu-fon.png") center;
  background-size: cover;
}

.menu__inner {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
}

.menu__left-column,
.menu__right-column {
  max-width: 500px;
  margin: 0 15px;
}

.menu__left-column {
  margin-right: 30px;
}
.menu__left-img {
  position: absolute;
  top: 20%;
  left: -45%;
}

.menu__right-img {
  position: absolute;
  top: 30%;
  right: -30%;
}

.menu-title {
  color: white;
  padding-bottom: 70px;
}

.menu__items {
  margin-top: -30px;
}

.menu__item {
  font-family: "FocusMedium";
}

.menu__item-title {
  height: 60px;
}

.menu__item-name,
.menu__item-price {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
}

.menu__item-name {
  left: 0;
}

.menu__item-price {
  right: 0;
  letter-spacing: 4px;
}

.menu__item-text {
  padding-bottom: 20px;
  border-bottom: rgb(251, 82, 49) 0.06px solid;
}

.menu__items .menu__item:last-child .menu__item-text {
  border: none;
  padding-bottom: 80px;
}

.special {
  position: absolute;
  right: -70px;
  top: -10px;

  width: 69px;
  height: 22px;

  font-family: LatoRegular;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0;

  background-color: rgb(251, 82, 49);
}

.reviews__inner {
  padding: 150px 0;
  text-align: center;
  max-width: 950px;
  margin: 0 auto;
  img {
    padding-bottom: 45px;
  }
}

.reviews__title {
  font-size: 36px;
  color: #333333;
}

.reviews__text {
  padding-bottom: 60px;

  font-size: 25px;
  font-family: "FocusRegular";
  line-height: 45px;
  color: #1a1f3b;
}

.reviews__raiting-title {
  padding-bottom: 60px;
}

.reviews__raiting-title {
  padding-bottom: 10px;

  font-size: 41px;
  font-family: "MarckScriptRegular";
  line-height: 45px;

  color: #1a1f3b;
}

footer {
  background: url("/image/footer-fon.png") no-repeat center;
  background-size: cover;
}

.footer__inner {
  // height: 320px;
  padding: 50px 0;
}

.footer__items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap;
  height: inherit;
}

.footer__side-item {
  width: 210px;
}

.footer__side-item_icon-first,
.footer__side-item_icon-second {
  height: 60px;
}

.footer__side-item_icon-first:before,
.footer__side-item_icon-second:before {
  font-family: "icomoon";
  color: #e3e6e6;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer__side-item_icon-first:before {
  content: "\f095";
}

.footer__side-item_icon-second:before {
  content: "\f041";
}

.footer__side-item_text,
.footer__copy-right {
  font-family: "FocusMedium";
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.4px;
  text-align: center;
  color: #969595;
}

.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__main-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.footer__social {
  margin-bottom: 30px;
}

.footer__social-item {
  width: 45px;
  height: 45px;
  margin: 5px;

  background: #1a1e36;
  border-radius: 50%;
}

.footer__main-item img {
  margin-bottom: 30px;
}

.footer__social-item:hover:before {
  color: white;
}
.footer__social-item:hover {
  cursor: pointer;
  background: #fb5535;
}

.footer__social .footer__social-item:nth-child(1):before {
  content: "\f082";
}

.footer__social .footer__social-item:nth-child(2):before {
  content: "\f099";
}

.footer__social .footer__social-item:nth-child(3):before {
  content: "\f17d";
}

.footer__social .footer__social-item:nth-child(4):before {
  content: "\f16d";
}

.footer__social .footer__social-item:nth-child(5):before {
  content: "\f0d2";
}

.footer__social-item:before {
  font-family: "icomoon";
  color: #6b6b6b;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
